@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Montserrat:wght@300&family=PT+Sans&display=swap');

*{
  font-family: 'Cabin', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.search-bar{
  width:50%;
  height:5vh;
  border:none;
  padding :7px;
  background-color: #cdd1cc;
  color:black;
  font-size: larger;
  margin-left: 30px;

}
.search-button{
 
  width:7vw;
  height: 7vh;
  color:#2C3333;
  padding:10px 20px;
  font-size: larger;
  margin-left: 20px;
  

}
.form-name{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card{
  border-radius: 10px;
  box-shadow: 0px 5px 20px black;
  padding:15px;
  display: flex;
  margin:20px;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  min-width: 20%;


  
}
